<h1>You are well connected under <%= name %></h1>
<form action="/login" method="POST">
  <a href="/login">Logout</a>
</form>
<style>
  body{
    background-image: url("low-poly-grid-haikei.png");
    background-size: cover;
    background-color: black;
    height: 100%;
    color:aliceblue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
</style>